.ui-datepicker{
	width: auto;
	min-width: 200px;
}
.ui-datepicker{
	box-shadow: 4px 0 13px #666666;
}
.ui-datepicker td span, .ui-datepicker td a{
	padding: 3px 12px;
	font-size: 13px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	width: 28px;
	height: 28px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	color: #000;
}