.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
	border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	border-radius: 0px !important;
	padding: 5px !important;
	font-weight: bold;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	margin-right: 5px;
}

.select2-container.select2-container--open{
	z-index: 123921831;
}

.select2-selection.select2-selection--single{
	min-height: 28px;
	height: auto;
}